.user-profile-wrapper {
    padding: 50px 30px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-info {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.user-profile-email {
    background: rgba(51, 51, 51, 0.5);
    padding: 20px;
    border-radius: 4px;
}

.user-profile-movies {
    padding: 20px 0;
}

.user-profile-signout {
    padding: 20px 0;
    text-align: center;
}
