.header-title h1 {
    width: 60%;
    font-size: 50px;
    margin: 5px auto;
}

.header-title h3 {
    font-size: 22px;
}

@media all and (max-width: 900px) {
    .header-title h1 {
        width: 95%;
        font-size: 24px;
        margin: 5px auto;
    }
    .header-title h3 {
        font-size: 18px;
    }
}